.admin-container {
  padding: 20px;
  text-align: center;
}

.user-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.user-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra para efecto flotante */
  padding: 20px;
  width: 250; /* Ajusta el ancho de los cuadros */
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.delete-button {
  background-color: #d65252;
  color: white;
}

.update-button {
  background-color: #4c6ef5;
  color: white;
}

.no-users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.no-users {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra para efecto flotante */
  font-size: 1.2em;
  color: #333;
}
