/* Contenedor principal del formulario */
.race-prediction-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más definida */
  max-width: 600px;
  margin: 60px auto; /* Mayor espaciado superior */
  color: #333;
}

/* Título centrado */
.race-prediction-form h3 {
  text-align: center;
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Estilo para las etiquetas de selección */
.driver-select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 10px; /* Desplazamiento hacia la izquierda */
}

.driver-select label {
  font-weight: bold;
  color: #555;
  flex: 0.25; /* Ajuste para ocupar menos espacio y alinear más al centro */
  font-size: 16px;
  text-align: left;
}

.driver-select select {
  flex: 0.75; /* Mayor espacio para el select */
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s;
}

.driver-select select:focus {
  border-color: #007bff; /* Color al enfocar */
}

/* Grupo de checkboxes con espaciado */
.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkbox-group label {
  font-size: 16px;
  color: #333;
}

/* Campo de DNF */
.dnf-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;
}

.dnf-group label {
  font-weight: bold;
  color: #555;
}

.dnf-group input {
  width: 80px;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Botón con estilo y transición */
button[type="submit"] {
  width: 100%;
  background-color: #d9534f;
  color: white;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #c9302c;
}

button[type="submit"].complete {
  background-color: #5cb85c;
}

button[type="submit"].complete:hover {
  background-color: #4cae4c;
}
