/* Contenedor de la página */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Título de la página */
.page-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: #333;
}

/* Contenedor principal de las sesiones */
.sessions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 200%;
}

/* Agrupación por localización (isla flotante de los eventos) */
.location-group {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  flex: 1;
}

/* Encabezado de la ubicación */
.location-header {
  text-align: center;
  margin-bottom: 15px;
}

/* Estilo para cada sesión */
.session-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px -27px; /* Ajustamos el margen para que el espaciado sea uniforme arriba y abajo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(
    100% - 20px
  ); /* Asegura que ocupe el 100% menos un pequeño espaciado */
}

/* Detalles de la sesión */
.session-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* Ajustes de margen y espaciado */
.session-date,
.session-name,
.session-time {
  margin: 0 0 5px 0;
}

/* Botón de pronóstico */
.prediction-button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Hacemos que todos los botones ocupen el 100% del espacio disponible */
  max-width: 200px; /* Establecemos un ancho máximo consistente */
  text-align: center; /* Aseguramos que el texto dentro esté centrado */
}

.prediction-button:hover {
  background-color: #c9302c;
}
