body {
  font-family: "Arial", sans-serif;
  background-color: #fafafa; /* Un fondo claro y neutral */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.update-user-container {
  width: 100%;
  max-width: 400px; /* Ancho máximo para mantener el formulario manejable */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados para suavidad */
  background-color: #fff; /* Fondo blanco para el formulario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto flotante */
  text-align: center; /* Alineación del texto al centro para un look uniforme */
}

.update-user-container h2 {
  color: #333; /* Un gris oscuro para el texto proporciona contraste */
}

.update-user-container form {
  display: flex;
  flex-direction: column; /* Organiza los campos del formulario en una columna */
}

.update-user-container label {
  margin: 10px 0 5px; /* Espaciado alrededor de las etiquetas para claridad */
  color: #333; /* Color coherente con el de los títulos */
}

.update-user-container input {
  padding: 10px; /* Relleno para hacer los campos de entrada más accesibles */
  margin-bottom: 10px; /* Margen para separar cada campo */
  border: 1px solid #ddd; /* Borde sutil */
  border-radius: 5px; /* Bordes ligeramente redondeados en las entradas */
  box-sizing: border-box; /* Asegura que el padding y border no afecten el ancho */
  font-size: 14px; /* Tamaño de fuente estándar para la legibilidad */
}

.update-user-container button {
  padding: 10px; /* Relleno cómodo para facilitar el clic */
  margin: 10px 0; /* Espacio antes y después del botón */
  border: none; /* Sin borde para un botón más limpio */
  border-radius: 5px; /* Bordes redondeados en el botón */
  background-color: #007bff; /* Un azul brillante para llamar la atención */
  color: white; /* Texto en blanco para contraste */
  font-size: 16px; /* Tamaño de fuente ligeramente mayor para destacar */
  cursor: pointer; /* Cambia el cursor para indicar clickeabilidad */
  transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

.update-user-container button:hover {
  background-color: #0056b3; /* Un azul más oscuro al pasar el ratón */
}

.update-user-container .error {
  color: red; /* Rojo para errores, llamando la atención del usuario */
  margin-bottom: 10px; /* Espacio debajo del mensaje de error */
}
